/*.log
/.vscode
.ipynb_checkpoints
/cache/*
/notebook/
/external/
/datasets/*
!/datasets/ground_truth
/outputs/*
/scratch/*
/.idea
/data/**/*.pkl
/data/figures/*
/data/results/*
!/data/results
/lightning_logs
!.gitkeep
!datasets/download.sh
!datasets/summary.csv
*.pth
*.pt
wiki.en.bin
__pycache__